<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hx-tomselect</title>
    <script defer src="./hx-tomselect.js"></script>
    <script src="https://unpkg.com/htmx.org@latest"></script>
    <link href="https://cdn.jsdelivr.net/npm/tom-select@latest/dist/css/tom-select.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/tom-select@latest/dist/js/tom-select.complete.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@latest/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.0/themes/prism.min.css" />
    <link href="./prism-holi-theme.css" rel="stylesheet" />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-S2BDGEP73W"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-QNEWNK6T05');
    </script>

</head>

<body class="bg-gray-900 text-white  p-10">
    <div class=" max-w-4xl mx-auto">
        <style>
            code[class*="language-markup"] {
                font-size: calc(0.8rem + 0.5vw);
                /* Light grey background for code */
                padding: 0.5rem;
                /* Padding around text */
                border-radius: 5px;
                /* Optional: rounded corners */
                overflow-wrap: break-word;
                /* Ensures long lines wrap */
            }

            .ts-dropdown-content {
                font-size: calc(1.2rem + 0.5vw);
                padding: 1px
            }
        </style>
        <p class="p-4 text-xl mb-10">
            <a class="underline" href="https://unpkg.com/hx-tomselect@latest/hx-tomselect.js">hx-tomselect</a> - a <a
                class="underline" href="https://v1.htmx.org/docs/#extensions" target="_">htmx extention</a> for <a
                class="underline" href="https://tom-select.js.org/">tom-select.js</a>
        </p>
        <section class="mb-20">
            <h1 class="text-xl">Install:</h1>
            <pre
                class="mb-2 code-container"><code class="language-markup wrap">&lt;script src="https://unpkg.com/hx-tomselect/hx-tomselect.js"&gt;&lt;/script&gt;</code></pre>

            This extention relies on <a class="underline" href="https://v1.htmx.org">htmx</a> and <a class="underline"
                href="https://tom-select.js.org/">tom-select.js</a> being loaded before it is included:
            <pre class="mb-2 code-container"><code class="language-markup">&lt;!DOCTYPE html&gt;
&lt;html&gt;
    &lt;head&gt;
        &lt;script src="https://unpkg.com/htmx.org@latest"&gt;
        &lt;link href="https://unpkg.com/tom-select@latest/dist/css/tom-select.css" rel="stylesheet" /&gt;
        &lt;script src="https://unpkg.com/tom-select@latest/dist/js/tom-select.complete.min.js"&gt;
        &lt;script src="https://unpkg.com/hx-tomselect/hx-tomselect.js"/&gt;
    &lt;/head&gt;
    &lt;body&gt;
        &lt;select hx-ext="tomselect"&gt;
            &lt;option value=""&gt;Select an option&lt;/option&gt;
            &lt;option value="1"&gt;Option 1&lt;/option&gt;
            &lt;option value="2"&gt;Option 2&lt;/option&gt;
            &lt;option value="3"&gt;Option 3&lt;/option&gt;
        &lt;/select&gt;
    &lt;/body&gt;
&lt;/html&gt;
                    </code></pre>
        </section>
        <h1 class="mb-2 text-xl">Demo:</h1>
        <section class="mb-20">
            <select hx-ext="tomselect,debug" class="block w-full mb-2">
                <option value="">Select</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
            </select>
        </section>

        <section class="mb-20">
            <h2 class="text-xl font-semibold mb-3">Input</h2>
            <p class="p-4">Allow creating new items</p>

            <select hx-ext="tomselect" ts-create="true" ts-create-on-blur="true" ts-max-items="10"
                class="block w-full mb-2">
                <option value="">Brilliant</option>
                <option value="1">Excellent</option>
                <option value="2">Top Notch</option>
                <option value="3">Awesome</option>
            </select>
            <pre class="mb-2"><code class="language-markup">&lt;select hx-ext="tomselect" ts-create="true"&gt;
    &lt;option value=""&gt;Select an option&lt;/option&gt;
    &lt;option value="1"&gt;Option 1&lt;/option&gt;
    &lt;option value="2"&gt;Option 2&lt;/option&gt;
    &lt;option value="3"&gt;Option 3&lt;/option&gt;
&lt;/select&gt;</code></pre>
        </section>

        <section class="mb-20">
            <h2 class="text-xl font-semibold mb-3">Select</h2>
            <p class="p-4">Allow selecting multiple items</p>

            <select hx-ext="tomselect" ts-create="true" ts-create-on-blur="true" class="block w-full mb-2">
                <option value="">Brilliant</option>
                <option value="1">Excellent</option>
                <option value="2">Top Notch</option>
                <option value="3">Awesome</option>
            </select>
            <pre class="mb-2"><code class="language-markup">&lt;select hx-ext="tomselect" multiple&gt;
    &lt;option value=""&gt;Select an option&lt;/option&gt;
    &lt;option value="1"&gt;Option 1&lt;/option&gt;
    &lt;option value="2"&gt;Option 2&lt;/option&gt;
    &lt;option value="3"&gt;Option 3&lt;/option&gt;
&lt;/select&gt;</code></pre>
        </section>

        <section class="mb-20">
            <h2 class="text-xl font-semibold mb-3">Delete</h2>
            <p class="p-4">(max 3 selections, takes an custom string message)</p>
            <select hx-ext="tomselect" ts-max-items="3" ts-remove-button-title="true" multiple>
                <option value="">N/A</option>
                <option selected value="1">Option 1</option>
                <option selected value="2">Option 2</option>
                <option value="3">Option 3</option>
                <option value="4">Option 4</option>
                <option value="5">Option 5</option>
                <option value="6">Option 6</option>
                <option value="7">Option 7</option>
                <option value="8">Option 8</option>
                <option value="9">Option 9</option>
            </select>
            <pre class="mb-2"><code class="language-markup">&lt;select
    hx-ext="tomselect" 
    ts-max-items="3"
    ts-remove-button-title="true"
    multiple
&gt;
    &lt;option value=""&gt;Select an option&lt;/option&gt;
    &lt;option value="1"&gt;Option 1&lt;/option&gt;
    &lt;option value="2"&gt;Option 2&lt;/option&gt;
    ...
&lt;/select&gt;</code></pre>
        </section>

        <section class="mb-20">
            <h2 class="text-xl font-semibold mb-3 text-2xl">Customisable</h2>
            <select class="text-3xl" hx-ext="tomselect" ts-item-class="text-3xl  py-3"
                ts-option-class="text-3xl w-full py-3 bg-green-100" multiple>
                <option value="">N/A</option>
                <option selected value="1">Option 1</option>
                <option selected value="2">Option 2</option>
                <option selected value="3">Option 3</option>
                <option selected value="4">Option 4</option>
                <option selected value="5">Option 5</option>
                <option value="6">Option 6</option>
                <option value="7">Option 7</option>
                <option value="8">Option 8</option>
                <option value="9">Option 9</option>
            </select>
            <pre class="mb-2 text-md"><code class="language-markup">&lt;select
    hx-ext="tomselect" 
    ts-item-class="text-3xl py-3"
    ts-option-class="text-3xl w-full py-3 bg-red-100"
    ts-item-class="text-3xl py-3"
    multiple
&gt;
    &lt;option value=""&gt;Select an option&lt;/option&gt;
    &lt;option value="1"&gt;Option 1&lt;/option&gt;
    &lt;option value="2"&gt;Option 2&lt;/option&gt;
    ...
&lt;/select&gt;</code></pre>
        </section>


        <section class="mb-20">
            <h2 class="text-xl font-semibold mb-3">Configure:</h2>
            <p class="p-4">Config Options are prefixed with a `ts-` and generally match <a
                    href="https://tom-select.js.org/docs/" class="underline">TomSelect config options</a>
                The full list of currently support attributes is here:
                <div hx-get="https://github.com/KiwiKid/hx-tomselect/blob/5e4f884966f13184ac2908bba0c6a97d8d279f95/hx-tomselect.js#L47" hx-trigger="load once" hx-target="this"></div>


                <a href="https://github.com/KiwiKid/hx-tomselect/blob/5e4f884966f13184ac2908bba0c6a97d8d279f95/hx-tomselect.js#L47"
                    class="underline">here</a>

                <script>
                    const attributeConfigs = [
                        {
                            key: 'ts-create',
                            configChange: 'create',
                            _description: 'Allow creating new items'
                        }, {
                            key: 'ts-create-on-blur',
                            configChange: 'createOnBlur'
                        }, {
                            key: 'ts-create-filter',
                            configChange: (elm, config) => ({
                                createFilter: function (input) {
                                    try {
                                        const filter = elm.getAttribute('ts-create-filter')
                                        const matchEx = filter == "true" ? /^[^,]*$/ : elm.getAttribute('ts-create-filter')
                                        var match = input.match(matchEx); // Example filter: disallow commas in input
                                        if (match) return !this.options.hasOwnProperty(input);
                                        elm.setAttribute('tom-select-warning', JSON.stringify(err));
                                        return false;
                                    } catch (err) {
                                        return false
                                    }
                                }
                            })
                        }, {
                            key: 'ts-delimiter',
                            configChange: 'delimiter'
                        }, {
                            key: 'ts-highlight',
                            configChange: 'highlight'
                        }, {
                            key: 'ts-multiple',
                            configChange: 'multiple'
                        }, {
                            key: 'ts-persist',
                            configChange: 'persist'
                        }, {
                            key: 'ts-open-on-focus',
                            configChange: 'openOnFocus'
                        }, {
                            key: 'ts-max-items',
                            configChange: 'maxItems'
                        }, {
                            key: 'ts-hide-selected',
                            configChange: 'hideSelected'
                        }, {
                            key: 'tx-close-after-select',
                            configChange: 'closeAfterSelect'
                        }, {
                            key: 'tx-duplicates',
                            configChange: 'duplicates'
                        },
                        {
                            key: 'ts-max-options',
                            configChange: 'maxOptions'
                        }, {
                            key: 'ts-sort',
                            configChange: (elm, config) => ({
                                sortField: {
                                    field: elm.getAttribute('ts-sort'),
                                },
                            })
                        }, {
                            key: 'ts-sort-direction',
                            configChange: (elm, config) => ({
                                sortField: {
                                    direction: elm.getAttribute('ts-sort-direction') ?? 'asc'
                                },
                            })
                        }, {
                            key: 'ts-allow-empty-option',
                            type: 'simple',
                            configChange: 'allowEmptyOption'
                        }, {
                            key: 'ts-clear-after-add',
                            configChange: {
                                create: true,
                                onItemAdd: function () {
                                    this.setTextboxValue('');
                                    //     this.refreshOptions();
                                }
                            }
                        }, {
                            key: 'ts-remove-button-title',
                            configChange: (elm, config) => deepAssign(config, {
                                plugins: {
                                    remove_button: {
                                        title: elm.getAttribute('ts-remove-button-title') == 'true' ? 'Remove this item' : elm.getAttribute('ts-remove-button-title')
                                    }
                                },
                            })
                        }, {
                            key: 'ts-delete-confirm',
                            configChange: (elm, config) => ({
                                onDelete: function (values) {
                                    if (elm.getAttribute('ts-delete-confirm') == "true") {
                                        return confirm(values.length > 1 ? 'Are you sure you want to remove these ' + values.length + ' items?' : 'Are you sure you want to remove "' + values[0] + '"?');
                                    } else {
                                        return confirm(elm.getAttribute('ts-delete-confirm'));
                                    }

                                }
                            })
                        }, {
                            key: 'ts-add-post-url',
                            configChange: (elm, config) => ({
                                onOptionAdd: function (value, item) {
                                    this.lock();
                                    const valueKeyName = elm.getAttribute('ts-add-post-url-body-value') ?? 'value'
                                    const body = {}
                                    body[valueKeyName] = value
                                    fetch(elm.getAttribute('ts-add-post-url'), {
                                        method: 'POST',
                                        headers: {
                                            'Content-Type': 'application/json',
                                        },
                                        body: JSON.stringify(body),
                                    })
                                        .then((res) => {
                                            if (!res.ok) {
                                                throw new Error(`HTTP status ${res.status}`);
                                            }
                                            return res.text();
                                        })
                                        .then((responseHtml) => htmx.process(elm, responseHtml))
                                        .catch(error => {
                                            console.error('Error adding item', error)
                                            elm.setAttribute('tom-select-warning', `ts-add-post-url - Error processing item: ${JSON.stringify(error)}`);
                                            this.removeItem(value);
                                        })
                                        .finally(() => {
                                            this.unlock();
                                        });
                                }
                            }),
                            _isBeta: true,
                        }, {
                            key: 'ts-add-post-url-body-value',
                            configChange: '',
                            _isBeta: true,
                        },
                        {
                            key: 'ts-no-active',
                            configChange: {
                                plugins: ['no_active_items'],
                                persist: false,
                                create: true
                            }
                        }, {
                            key: 'ts-remove-selector-on-select',
                            type: 'simple',
                            configChange: null
                        }, {
                            key: 'ts-no-delete',
                            configChange: {
                                onDelete: () => { return false },
                            }
                        }, {
                            key: 'ts-option-class',
                            configChange: 'optionClass'
                        }, {
                            key: 'ts-option-class-ext',
                            configChange: (elm, config) => ({
                                'optionClass': `${elm.getAttribute('ts-option-class-ext')} option`
                            })
                        }, {
                            key: 'ts-item-class',
                            configChange: 'itemClass'
                        }, {
                            key: 'ts-item-class-ext',
                            configChange: (elm, config) => ({
                                key: 'ts-option-class-ext',
                                configChange: {
                                    'itemClass': `${elm.getAttribute('ts-option-class-ext')} item`
                                }
                            })
                        },
                        {
                            key: 'ts-raw-config',
                            configChange: (elm, config) => elm.getAttribute('ts-raw-config')
                        }
                    ]
                    document.addEventListener('DOMContentLoaded', function () {
                        var configString = ""
                        var betaConfigString = ""
                        if (attributeConfigs && Array.isArray(attributeConfigs)) {
                            //     document.getElementById('attributeConfigsOutput').textContent = JSON.stringify(attributeConfigs, null, 4);
                        }
                    });
                </script>
                <!-- <pre><code class="language-markdown" id="attributeConfigsOutput">
               
                </code></pre>-->

            </p>
            <p class="p-4">If a non-valid key
                is
                found on an element a warning will be logged to the console and a `tom-select-warning` attribute
                added
                to
                the &lt;select&gt; tag
            </p>
            <p class="p-4">After processing, one of three attributes will be added to each select box:</p><pre><code class="language-markup"><span class="text-sm">&lt;select tom-select-success="true"&gt;
 &lt;select tom-select-warning="could not find tag 'example'"&gt; - non-breaking error (e.g. tag name is not recognized)
 &lt;select tom-select-error="TomSelect was not found"&gt; - Breaking error</span></code></pre>




        </section>

        <section class="mb-20">

            <p class="p-4">hx-oob swaps works too</code></p>
            <button type="button" hx-get="another-place.html" hx-trigger="click" hx-swap="outerHTML"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                (Click to dynamically load options)
            </button>
            <div id="holder"></div>
            <div id="source-holder">
                <pre class="mb-2"><code class="language-markup">&lt;button 
    hx-get="another-place.html"
    hx-trigger="click"
&gt;(Click to dynamically load options)&lt;/button&gt;</code></pre>
            </div>
        </section>


        <section class="mb-20">
            <h2 class="text-xl font-semibold mb-3">Configuring Item Deletion Confirmation</h2>
            <p class="p-4">Supports a custom message or `true` for default text</p>
            <select hx-ext="tomselect" ts-remove-button-title="This DELETES THE ITEM!!"
                ts-delete-confirm="ARE YOU SURE!?!" multiple>
                <option value="1" selected>Item 1</option>
                <option value="2" selected>Item 2</option>
                <option value="3" selected>Item 3</option>
            </select>
            <pre><code class="language-markup">&lt;select 
    hx-ext="tomselect" 
    ts-remove-button-title="This DELETES THE ITEM!!"
    ts-delete-confirm="ARE YOU SURE!?!"
    multiple
&gt;
    &lt;option value="1"&gt;Item 1&lt;/option&gt;
    &lt;option value="2"&gt;Item 2&lt;/option&gt;
    &lt;option value="3"&gt;Item 3&lt;/option&gt;
&lt;/select&gt;</code></pre>
        </section>




        <section class="mb-20">
            <h2 class="text-xl font-semibold mb-3">Create + Regex new item names</h2>
            <p>Allow creating new items - try typing below - ts-create-filter="true" will prevent commas in the title,
                any other string
                will be used as a regex match</p>
            <select hx-ext="tomselect" ts-create="true" ts-max-items="10" ts-create-filter="^[^,]*$">
                <option value="">Select</option>
                <option value="1">ValidOption</option>
            </select>
            <pre><code class="language-html-dark">&lt;select 
    hx-ext="tomselect"
    ts-max-items="10"
    ts-create-filter="^[^,]*$"
&gt;
    &lt;option value=""&gt;Select an option&lt;/option&gt;
    &lt;option value="1"&gt;ValidOption&lt;/option&gt;
&lt;/select&gt;</code></pre>
        </section>

        <section class="mb-20">
            <h2 class="text-xl font-semibold mb-3">Create + POST request</h2>
            <p>type to add a new option > Click 'Add [New Item]' > see the network tab for POST request</p>
            <select id="select-fine" hx-ext="tomselect" ts-create="true" ts-create-filter="true"
                ts-add-post-url="/this-could-be-your-new-thing-api" ts-persist="true" multiple
                placeholder="Add options(s)..." class="border border-gray-300 rounded-md text-gray-700 flex-grow mb-2">
                <option value="">Select</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
            </select>
            <pre><code class="language-markup">&lt;select
    hx-ext="tomselect"
    ts-create-filter="true"
    ts-no-active="true"
    ts-add-post-url="/this-could-be-your-new-thing-api"
    ts-persist="true"
    multiple
&gt;
    &lt;option value=""&gt;Select&lt;/option&gt;
    &lt;option value="1"&gt;Option 1&lt;/option&gt;
    &lt;option value="2"&gt;Option 2&lt;/option&gt;
    &lt;option value="3"&gt;Option 3&lt;/option&gt;
&lt;/select&gt;
</code></pre>
        </section>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.0/prism.min.js"></script>
</body>

</html>